.Container {
    height: 100vh;
    padding: 2rem;

    align-items: center;
    justify-content: space-evenly;

    /* border: 1px solid red; */
}

.Container h1 {
    text-align: center;
}

.Form {
    width: 100%;

    display: flex;
    justify-content: center !important;
    align-items: center;
    gap: 4rem;


    /* border: 1px solid; */
}

.Cadastrar {
    width: 30%;
}

.Cadastrar a {
    height: 100%;
    width: 100%;
    display: inline-block;
    color: white;
    text-decoration: none;
}